<div class="receiver">
    <p class="tutorial">INSERT POKE ID <br> OR <br> POKEMON NAME</p>
    <input type="text" [(ngModel)]="pokeInfo">
    <button>
        <img src="../../assets/img/pokeball.png" alt="">
    </button>

    <section class="wrapper" id="wrapper">
        <div class="pokecards">
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
            <div class="pokecard"><img src="../../assets/img/pokeball.png"></div>
        </div>
    </section>
</div>
